doctype html
html
  head
    title gwonghk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap core CSS
    link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel="stylesheet", href="css/style.css")
    
  body
    header.bird-box
      .logo
      .fore-bird
      .back-bird
  
    section.content
      
      article
        
        h1 Clothing Store
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        
        hr
        
        .clothes-pics
          .row.img-row
            figure.col-xs-4.col-4
              img(src="../images/model1.jpg")
            figure.col-xs-4.col-4
              img(src="../images/model2.jpg")
            figure.col-xs-4.col-4
              img(src="../images/model3.jpg")
          .row.img-row
            figure.col-xs-4.col-4
              img(src="../images/model1.jpg")
            figure.col-xs-4.col-4
              img(src="../images/model2.jpg")
            figure.col-xs-4.col-4
              img(src="../images/model3.jpg")
          .row.img-row
            figure.col-xs-4.col-4
              img(src="../images/model1.jpg")
            figure.col-xs-4.col-4
              img(src="../images/model2.jpg")
            figure.col-xs-4.col-4
              img(src="../images/model3.jpg")
      
    footer
      .row.footer-container
        .col-xs-3.col-3
          strong FIND ME
          ul
            li: a(href="https://www.linkedin.com/in/gwonghk/") LinkedIn
            li: a(href="https://github.com/gwonghk") Github
        .col-xs-3.col-3
          strong OTHERS
          ul
            li: a(href="") Reddit
            li: a(href="") Facebook
            li: a(href="") Team
        .col-xs-6.col-6
          p <strong> Email me: </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          
          form.row
            .col-xs-8.col-8
              input.input-block-level(type="email" placeholder="Your Email")
              input.button-primary(type="submit")
      
      //- div(style="height: 2000px") // scroll check
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='js/functions.js')
    script(type='text/javascript', src='js/script.js')
